In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
f_members = pd.read_csv('Members.csv')

In [5]:
f_members.isnull().sum(axis=0)

MemberID               0
AgeAtFirstClaim     5753
Sex                17552
dtype: int64

In [10]:
len(set(f_members.MemberID))

113000

In [20]:
df = pd.get_dummies(f_members, columns = ['AgeAtFirstClaim', 'Sex'], dummy_na=True)
df.head()

,MemberID,AgeAtFirstClaim_0-9,AgeAtFirstClaim_10-19,AgeAtFirstClaim_20-29,AgeAtFirstClaim_30-39,AgeAtFirstClaim_40-49,AgeAtFirstClaim_50-59,AgeAtFirstClaim_60-69,AgeAtFirstClaim_70-79,AgeAtFirstClaim_80+,AgeAtFirstClaim_nan,Sex_F,Sex_M,Sex_nan
0,14723353,0,0,0,0,0,0,0,1,0,0,0,1,0
1,75706636,0,0,0,0,0,0,0,1,0,0,0,1,0
2,17320609,0,0,0,0,0,0,0,1,0,0,0,1,0
3,69690888,0,0,0,0,1,0,0,0,0,0,0,1,0
4,33004608,1,0,0,0,0,0,0,0,0,0,0,1,0

In [22]:
f_members.to_csv('Members_processed.csv')